# Automatically decide if text
*	text=auto

# General rules for pretty much everything
*	eol=lf
*	indent-tabs=true
*	tab-width=4

# Rules for documentation (text) files
*.pdf				diff=astextplain
*.docx				diff=astextplain
*.bibtex	text	diff=bibtex
*.tex		text	diff=tex
*.md		text	diff=markdown

# Rules for binary files
*.png	binary
*.pdn	binary
*.zip	binary

# Exclude Git files from exporting
.gitattributes	export-ignore
.gitignore		export-ignore
.gitkeep		export-ignore
